<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.job"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />
	 <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher" 
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.CompanyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".activity.PersonActivity">    
        </activity>
        
         <activity 
            android:name=".activity.CompanyMessageActivity">
         </activity >
         <activity 
            android:name=".activity.CompanyApplyActivity">
         </activity >
        <activity 
            android:name=".activity.LoginActivity">   
        </activity>
        <activity 
            android:name=".activity.RegisterPersonActivity">
        </activity>
        <activity 
            android:name=".activity.RegisterCompanyActivity">
        </activity>
        <activity 
            android:name=".activity.RegisterPhoneActivity">
        </activity>
        <activity 
            android:name=".activity.RegisterPasswordActivity">
        </activity>
        <activity 
            android:name=".activity.CompanyBindEmailActivity">
        </activity>
        <activity 
            android:name=".activity.CompanyBindPhoneActivity">
        </activity>
        <activity 
            android:name=".activity.CompanyChangePassWordActivity">
        </activity>
        
        <activity 
            android:name=".activity.ApplyMessageActivity">
        </activity>
        
        <activity 
            android:name=".activity.JobDescribeActivity">
        </activity>
       
        <activity 
            android:name=".activity.JobNameActivity">
        </activity>
         <activity 
            android:name=".activity.SalaryActivity">
        </activity>
        <activity 
            android:name=".activity.SalaryFuliActity">
        </activity>
        <activity 
            android:name=".activity.StudyExperienceActivity">
        </activity>
    	<activity 
            android:name=".activity.JobSiteActivity">
        </activity>
        <activity 
            android:name=".activity.CompanyNumberActivity">
        </activity>
    </application>
    

</manifest>
